

.wy-nav-side {
    color:#e6e6e6;
    background:#e6e6e6; 
}

.wy-menu-vertical span {
    color: #705296;
}

.wy-menu-vertical a {
    color: #404040;
}

.wy-menu-vertical a:hover {
    background: #c9c9c9;
}

.wy-menu-vertical span {
    color: #705296;
    padding-top: 1.2em;	
    text-transform: uppercase;	
}

.wy-menu-vertical li ul li a {
    color: gray;
}
